@using LibraryDemo.TagHelpers
@model BookListViewModel
@{
    ViewData["Title"] = "Index";
    int i = 1;
}
<style type="text/css">
    tr > td {
        padding: 5px;
        padding-left: 20px;
    }
    tr+tr {
        border-top: thin solid black;
        padding-top: 10px;
    }
</style>

<hr />
<table>
    <tbody>
    @foreach (var book in Model.BookDetails)
    {
        <tr>
            <td style="width: 3%">@((@Model.PagingInfo.CurrentPage-1)*4+i++)</td>
            <td style="text-align: center; width: 150px; height: 200px;">
                @if (book.ImageData == null)
                {
                    <label>No Image</label>
                }
                else
                {
                    <img class="img-thumbnail pull-left" src="@Url.Action("GetImage", "BookInfo", new {book.ISBN})" />
                }   
            </td>
            <td style="text-align: left;">
                <a style="margin-left: 1em;">@book.Name</a>
                <div style="margin-left: 2em;margin-top: 5px">
                    <span>@book.Author</span>
                    <br />
                    <span>@book.Press</span>
                    <p>@book.FetchBookNumber</p>
                </div>
                <div style="text-indent: 2em">
                    <p>@book.Description</p>
                </div>
            </td>
        </tr>
    }
    </tbody>    
</table>    
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x}))
</div>